<div class="fluid-container">
  <div class="jumbotron">
    <h1>Angular Dropdown</h1>
    <p>POC on Angular Dropdown with bootstrap</p>
    <div class="container">
      <div class="dropdown">
        <div class="dropdown-tags-input" tabindex="-1" (click)="dropdownActive = true"
            (blur)="dropdownActive = false">
          <span class="chip" *ngFor="let item of selectedItems; index as i;">
            <img [src]="item.avatar" alt="Person">
            {{item.name}}
            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
          </span>
          <input type="text" class="dropdown-input">
        </div>
        <div class="dropdown-menu dropdown-container show" [class.show]="dropdownActive"><!--  -->
          <span class="dropdown-item" *ngFor="let item of options; index as i;">
            <img [src]="item.avatar" alt="avatar">
            <span class="title">{{item.name}}</span>
            <span class="email">{{item.email}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>